.main {
  display: flex;
  align-items: center;
  height: 50px;
  height: 50px;
  min-width: 600px;
  background-color: var(--list-bg);
  border-radius: 7px;
  font-size: 25px;
  transition: 0.4s;
  margin-bottom: 25px;
  border: 4px solid var(--list-border);
  &:hover {
    border: 4px solid var(--list-border-hover);
    .icon {
      color: var(--list-icon-hover);
    }
  }
}

.icon {
  width: 25px;
  height: 25px;
  background-color: initial;
  margin-left: 10px;
  transition: 0.4s;
  color: var(--list-icon);
}

.text {
  background-color: initial;
  padding-left: 10px;
  color: var(--list-color);
  font-size: 25px;
}
